div a{
  color: #0073AB;
}
.black{
  color: #333;
}

.logo {
  object-fit: cover;
  margin: 10px -110px;
  width: 35vw;
  height: 100px;
}
#logo_credencial{
  object-fit: cover;
  margin: 0px -80px;
  width: 25vw;
  height: 80px;
}
#logo_credencial_alumno{
  object-fit: cover;
  margin: 0px -80px;
  width: 30vw;
  height: 120px;
}
.logo_checador{
  object-fit: cover;
  margin: 20px -250px;
  width: 80vw;
  height: 280px;
}
#nombre_estancia_credencial_alumno{
  text-align:center;font-size:23px;font: sans-serif;font-weight: bold;
}

.foto{
  width: 50px; height: 32px; cursor: pointer;
}
.puntero{
  cursor: pointer;
}

.zoom_img{
  width: 400px; height: 500px;
}

.modal_img{
  width: 450px; height: 550px;
}
.modal_registro{
  width: 1200px; height: 550px;
}
.modal_error{
  width: 950px; height: 550px;
}
.carousel-inner {
    width: auto;
    height: 500px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
    width: auto;
    height: 500px;
}

.center-aligned {
    display: flex;
    align-items: center;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 250px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

/* make sidebar nav vertical */ 
@media (min-width: 768px){
  .affix-content .container {
    width: 700px;
  }   
  
  
  html,body{
    background-color: #FFFFFF;
    height: 100%;
    overflow: hidden;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }
  .sidebar-nav{
        position:fixed; 
        width:100%;
  }
  .affix-sidebar{
    padding-right:0; 
    font-size:small;
    padding-left: 0;
  }  
  .affix-row, .affix-container, .affix-content{
    height: 100%;
    margin-left: 0;
    margin-right: 0;    
  } 
  .affix-content{
    background-color:white; 
  } 
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar{
    border-radius:0; 
    margin-bottom:0; 
    border:0;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }

}
  
@media (max-width: 768px) {
  .hiden-btn{
    display: none !important;
    visibility: hidden !important;
  }
  .hidden{
    display: block !important;
  }
  .btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
  }

}

.ocultar-texto{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 769px) and (max-width: 992px) {
  .hiden-btn{
    display: none !important;
    visibility: hidden !important;
  }
  .hidden{
    display: block !important;
  }
  .btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
  }

}

@media (min-width: 769px){
  .affix-content .container {
    width: 600px;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }  

}

@media (min-width: 992px){
  .affix-content .container {
  width: 900px;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }
}

@media (min-width: 1220px){
  .affix-row{
    overflow: hidden;
  }

  .affix-content{
    overflow: auto;
  }

  .affix-content .container {
    width: 1000px;
  }

  .affix-content .container .page-header{
    margin-top: 0;
  }
  .affix-content{
    padding-right: 30px;
    padding-left: 30px;
  }  
  .affix-title{
    border-bottom: 1px solid #ecf0f1; 
    padding-bottom:10px;
  }
  .navbar-nav {
    margin: 0;
  }
  .navbar-collapse{
    padding: 0;
  }
  .sidebar-nav .navbar li a:hover {
    background-color: #0073AB;
    color: white;
  }
  .sidebar-nav .navbar li a > .caret {
    margin-top: 8px;
  }  




}

.noresize {
  resize: none; 
}


.switch1 {
  position: relative;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 34px;
}

.switch1 input {display:none;}

.slider1 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider1:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  right: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider1 {
  background-color: #2196F3;
}

input:focus + .slider1 {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider1:before {

position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;

}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-pie{
  text-align: center;
}

.activa-desactiva {
  width:87px; height:100%;
}

.well .scroll{
  height: 300px;
  overflow-y: auto;
  width: 100%;
}

.well .scroll-menu{
  height: 450px;
  overflow-y: scroll;
  width: 215px;
  direction:ltr;
}


.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
    margin-left: -20px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

/* Estilos View Session */


  .cuerpo-session{background: #eee;}
  .html-session,.cuerpo-session{
      position: relative;
      height: 100%;
  }

  .login-container{
      border: 1px solid #ccc;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 20px;
      padding-bottom: 40px;
  }
  .login-container img{

  }

  #output{
      position: absolute;
      width: 300px;
      top: -75px;
      left: 0;
      color: #fff;
  }

  #output.alert-success{
      background: rgb(25, 204, 25);
  }

  #output.alert-danger{
      background: rgb(228, 105, 105);
  }


  .login-container::before,.login-container::after{
      content: "";
      position: absolute;
      width: 100%;height: 100%;
      top: 3.5px;left: 0;
      background: #fff;
      z-index: -1;
      -webkit-transform: rotateZ(4deg);
      -moz-transform: rotateZ(4deg);
      -ms-transform: rotateZ(4deg);
      border: 1px solid #ccc;

  }

  .login-container::after{
      top: 5px;
      z-index: -2;
      -webkit-transform: rotateZ(-2deg);
       -moz-transform: rotateZ(-2deg);
        -ms-transform: rotateZ(-2deg);

  }

  .avatar{
      width: 100px;height: 100px;
      margin: 10px auto 30px;
      border-radius: 100%;
      border: 2px solid #aaa;
      background-size: cover;
  }

  .form-box input{
      width: 100%;
      padding: 10px;
      text-align: center;
      height:40px;
      border: 1px solid #ccc;;
      background: #fafafa;
      transition:0.2s ease-in-out;

  }

  .form-box input:focus{
      outline: 0;
      background: #eee;
  }

  .form-box input[type="text"]{
      border-radius: 5px 5px 0 0;
      text-transform: lowercase;
  }

  .form-box input[type="password"]{
      border-radius: 0 5px 5px 5px;
      border-top: 0;
  }

  .form-box button.login{
      margin-top:15px;
      padding: 10px 20px;
  }




.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}










@media print {


  #menu_responsivo, #encabezado, #zoom_foto, #logo_credencial_alumno, #logo_credencial{
    display: none !important;
  }


  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
  .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;               
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-11 {
    width: 91.66666666666666%;
  }

  .col-md-10 {
    width: 83.33333333333334%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-8 {
    width: 66.66666666666666%;
  }

  .col-md-7 {
    width: 58.333333333333336%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66666666666667%;
  }

  .col-md-4 {
    width: 33.33333333333333%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-2 {
    width: 16.666666666666664%;
  }

  .col-md-1 {
    width: 8.333333333333332%;
  }  

  #contenido,#tabla_reporte{
    width: auto;
    min-width: 690px;
  }

  #home {
    width: auto;
    min-width: 690px;
  }
  #img_codigo_barras{
    width: 220px;
    height: 80px;
  }
  #credenciales,#fila_reporte{
    page-break-inside: avoid;    
  }
  #credencial_frente, #credencial_espalda{
    border-radius: 40px 40px 40px 40px;
    -moz-border-radius: 40px 40px 40px 40px;
    -webkit-border-radius: 40px 40px 40px 40px;
    border: 1px solid #000000;
    /*background-color: #0073AB;*/
  }
  #nombre_estancia_credencial_alumno{
    text-align:center;font-size:23px;font: sans-serif;font-weight: bold;
  }
  
  @page {                
    size: A4;
    margin: 5mm;
    margin-top: 1.5cm;
    margin-bottom: 2cm;
  }
  
  body{
    float: none !important;
    width: auto !important;
    height: auto !important;
    padding: 0 !important;

    color: #000; font: 100%/150% Georgia, "Times New Roman", Times, serif;
  }
  textarea{
    color: #000; font: 100%/150% Georgia, "Times New Roman", Times, serif;
  }
  p{
    color: #000; font: 100%/150% Georgia, "Times New Roman", Times, serif;
  }

}
#img_codigo_barras{
  width: 220px;
  height: 80px;
}
.modal_credencial{
  width: 600px; height: 800px;
}

#credencial_frente, #credencial_espalda{
  border-radius: 40px 40px 40px 40px;
  -moz-border-radius: 40px 40px 40px 40px;
  -webkit-border-radius: 40px 40px 40px 40px;
  border: 1px solid #000000;
  /*background-color: #0073AB;*/
}
#credencial_frente_alumno, #credencial_espalda_alumno{
  border-radius: 40px 40px 40px 40px;
  -moz-border-radius: 40px 40px 40px 40px;
  -webkit-border-radius: 40px 40px 40px 40px;
  border: 1px solid #000000;
  /*background-color: #0073AB;*/
}

/*----------------------------
  El Reloj
-----------------------------*/

.clock {
  padding: 5px 5px;
  border: none;
  color: #fff;
  font-size:160%;
}

#contador-ninos{
  margin: 10px 10px;
  color: #0073AB;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1600%;
  text-align: center;
  text-shadow: 0 0 5px #00c6ff;
  letter-spacing: 10px 
}
#contador-ninas{
  margin: 10px 10px;
  color: #E0005B;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1600%;
  text-align: center;
  text-shadow: 0 0 5px #00c6ff;
  letter-spacing: 10px 
}
#contador-personal{
  margin: 10px 10px;
  color: #56AF31;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1600%;
  text-align: center;
  text-shadow: 0 0 5px #00c6ff;
  letter-spacing: 10px
}
#Date {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 500%;
  text-align: center;
  text-shadow: 0 0 5px #00c6ff;
  letter-spacing: 15px
}
#hora{
  margin-top: -50px;
}
/*
.clock div {
  width: 80%;
  margin: 10px auto;
  padding: 0px;
  list-style: none;
  text-align: center;
}
*/

.clock span {
  display: inline;
  font-size: 10em;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0 0 5px #00c6ff;
}

#point {
  position: relative;
  -moz-animation: mymove 1s ease infinite;
  -webkit-animation: mymove 1s ease infinite;
  padding-left: 10px;
  padding-right: 10px;
}

.border-bottom{
  border-bottom: 1px solid #cfcfcf;
  padding-bottom: 20px;

}

@media (max-width: 768px) {


.well .scroll-menu {
    overflow-y: scroll;
    overflow-x: none;
    width: 110%;
    height: auto;
}

}
#encabezado{
  background-color: #0073AB;
}
.busqueda{
  margin-bottom: 10px;
}
.registro{
  padding-bottom: 20px;
}




